<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}" />
    <link rel="me" href="mailto:mfitts@meat-space.net" />
    <style>
        { margin: 0; padding: 0; }

        html { 
            background: url('images/bg.png') no-repeat center center fixed; 
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
    </style>
</head>
<body>

    <h1>{{{ title }}}</h1>

    {{{ contents }}}

  <div></div>
</body>
</html>
