<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}" />
    <link rel="me" href="mailto:mfitts@meat-space.net" />
</head>
<body>

    <h1>{{{ title }}}</h1>

    {{{ contents }}}

  <div></div>
</body>
</html>
